.container{
    margin: 0 auto;
    width: 1200px;
    background-color: bisque;
}
.photo{
    width: 200px;
    height: 150px;
    margin: 20px;
}
.gallery {
    display: block;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 700px;
    margin-top: 200px;
  }
  
 
  .gallery img {
    width: 200px;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s;
  }
  .gallery img:hover {
    transform: scale(1.05);
  }
  

  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .modal-content {
    position: relative;
    margin: 15% auto;
    width: 500px;
  }
  
  .modal-content img {
    width: 100%;
    height: auto;
  }
  
  
  .close {
    position: absolute;
    top: 100px;
    right: 500px;
    font-size: 35px;
    color: white;
    cursor: pointer;
  }